<div class="cart-panel collapsible-panel__content">
	<div class="cart-panel__header">
		<div class="cart-panel__title">Your Bag</div>
		<button
			class="cart-panel__close-wrapper"
			tabindex="0"
			title="Close the Cart"
		>
			<img
				class="cart-panel__close-button"
				src="/src/assets/layers/svg/close.svg"
			/>
		</button>
	</div>
	<div class="cart-panel__content"></div>
	<div class="cart-panel__subtotal">Subtotal: £22.81</div>
	<button class="cart-panel__proceed-button btn btn--orange" tabindex="0">
		<span class="btn__text">PROCEED TO CHECKOUT</span>
	</button>
	<button class="cart-panel__back-button" tabindex="0" title="Close the Cart">
		CONTINUE SHOPPING
	</button>
</div>
